{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="{%static 'E_commerce/style.css'%}">
</head>
<body>
    <h1>Welcome to Our E-commerce Website</h1>
    <nav>
        <ul>
            <li> <a href="{% url 'E_commerce:product_list' %}">Products</a></li>
            <li> <a href="{% url 'E_commerce:customer_list' %}">Customers</a></li>
        </ul>
    </nav>
</body>
<a href="{% url 'E_commerce:customer_list'%}" class="back_link">Back to Customer list</a>
</html>
