{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="{%static 'E_commerce/style.css'%}">
</head>
<body>
    <h1>Products</h1>

    <ul>
        {% for product in products %}
        <li>
           <h2>{{ product.name }}</h2>
           <p>{{ product.description }}</p>
           <p>Our price is: Kshs.{{ product.price }}</p> 
           <img src="{{ product.image.url }}" alt="{{ product.name }}">
           <p>Available: {{ product.available|yesno:"Yes,No" }}</p>

           <!-- Link each product to its detail page -->
           <a href="{% url 'E_commerce:product_detail' pk=product.pk %}" class="back_link">Back to Product Detail</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
